In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv("Rabindra bharati University.csv")
data.head(15)

   From Date\tTo Date\tPM2.5\tPM10\tNO2\tBenzene\tSO2\tCO\tOzone\tNOx
0   01-01-2019 00:00\t01-01-2019 01:00\t394.25\t55...
1   01-01-2019 01:00\t01-01-2019 02:00\t378.42\t54...
2   01-01-2019 02:00\t01-01-2019 03:00\t327.53\t48...
3   01-01-2019 03:00\t01-01-2019 04:00\t269.73\t38...
4   01-01-2019 04:00\t01-01-2019 05:00\t261.55\t35...
5   01-01-2019 05:00\t01-01-2019 06:00\t260.3\t358...
6   01-01-2019 06:00\t01-01-2019 07:00\t256.65\t35...
7   01-01-2019 07:00\t01-01-2019 08:00\t249.1\t349...
8   01-01-2019 08:00\t01-01-2019 09:00\t254.27\t35...
9   01-01-2019 09:00\t01-01-2019 10:00\t251.8\t356...
10  01-01-2019 10:00\t01-01-2019 11:00\t244.42\t36...
11  01-01-2019 11:00\t01-01-2019 12:00\t236.82\t34...
12  01-01-2019 12:00\t01-01-2019 13:00\t231.65\t33...
13  01-01-2019 13:00\t01-01-2019 14:00\t204.25\t30...
14  01-01-2019 14:00\t01-01-2019 15:00\t167.25\t26...

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8460 entries, 0 to 8459
Data columns (total 1 columns):
From Date	To Date	PM2.5	PM10	NO2	Benzene	SO2	CO	Ozone	NOx    8460 non-null object
dtypes: object(1)
memory usage: 33.1+ KB