In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('Delhi 2019.csv')
data.head()

,From Date,To Date,PM2.5,PM10,NO2,NH3,SO2,CO,Ozone,Benzene
0,01-01-2019 00:00,01-01-2019 01:00,361.5,525.5,156.9,62.5,18.13,3.88,1.4,6.08
1,01-01-2019 01:00,01-01-2019 02:00,348,514,142.12,57.52,19.17,2.45,1.7,9.93
2,01-01-2019 02:00,01-01-2019 03:00,298,466.5,121.45,52.55,15,1.8,6.42,9.97
3,01-01-2019 03:00,01-01-2019 04:00,276.5,429.5,113.48,53.95,14.27,1.7,9.98,8.7
4,01-01-2019 04:00,01-01-2019 05:00,295,435.5,108.18,53.2,14.28,1.92,10.5,7.43

In [3]:
data = data.to

AttributeError: 'DataFrame' object has no attribute 'convert_objects'

In [ ]:
data.drop(columns=['To Date','Benzene'],inplace=True)

In [ ]:
data.head()

In [ ]:
data.rename(columns={'From Date':'Date'},inplace=True)

In [ ]:
data.head()

In [ ]:
data.info()